body{
    background: url(/static/imgs/bg.jpg) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
}
.panel {
    margin: 5px;
    margin-top: 65px;
    padding: 5px;
}

#parabens {
    display: none;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

#parabens .left{
    float: left;
    width: 46%;
    padding: 2%
}

#parabens .right{
    float: left;
    width: 46%;
    padding: 2%
}